{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section>
    <div class="nam">
      <h1>
        {{ singlemovie.movie }}
      </h1>
    </div>

    <div class="parent">
      <div class="child">
        <div class="poster">
          <img
            class="posterimg"
            src="{{ singlemovie.image.url }}"
            alt=""
          />
        </div>
      </div>
      <div class="banner">
        <img class="bannerimg" src="{% static 'images/bannaer.jpeg' %}" alt="" />
      </div>
    </div>
    <div class="moviedata">
      <div class="dataimdb">
        <h4>cast : </h4>
        {% for item in casts %}
        <h5>
          {{ item.actors }}
        </h5>
        {% endfor %}
        <p>
          {{ singlemovie.description }}
        </p>
      </div>
    </div>

    <div class="screenshot">
      {% for image in screenshot %}
      <img class="screenimg" src="{{ image.screenshots.url }}" alt="" />
      {% endfor %}
    </div>

    <div class="downloadlink">
      {% for link in links %}
      <a class="dbutton" href="{{ link.shrink_url }}"><h3 class="link">{{ link.quality }}</h3></a>
      {% endfor %}
    </div>
      <div class="talegram">
      <a href="#">
        <img class="talegram" src="{% static 'images/Telegram-app.jpg' %}" alt="" />
      </a>
    </div>

  </section>
  {% endblock content %}
